services:
  db:
    image: postgres:latest
    container_name: postgres_db
    restart: unless-stopped 
    environment:
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: postgres 
      POSTGRES_DB: lubee_publicaciones_db
    ports:
      - "5433:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: